.container {
    max-width: 850px;
    margin: 0 auto;
}

.accordion {
    overflow: hidden;
}

.accordion input {
    display: none;
}

.summary {
    cursor: pointer;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00205b;
    font-size: 22px;
    font-weight: 700;
}

.icon {
    font-size: 30px;
    font-weight: 300;
    transition: transform 0.3s ease;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    color: #00205b;
    transition:
        max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}


input:checked ~ .content {
    max-height: 1000px;
    padding-bottom: 25px;
}


input:checked + .summary .icon {
    transform: rotate(45deg);
}


.content h3 {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 700;
}

.content p,
.content dd {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}