.container {
    max-width: 850px;
    margin: 0 auto;
}

.accordion {
    overflow: hidden;
}

.accordion input {
    display: none;
}

.summary {
    cursor: pointer;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00205b;
    font-size: 22px;
    font-weight: 700;
}

.icon {
    font-size: 30px;
    font-weight: 300;
    transition: transform 0.3s ease;
}

input:checked + .summary .icon {
    transform: rotate(45deg);
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.35s cubic-bezier(0.25, 1, 0.5, 1);
    color: #00205b;
}

input:checked ~ .content {
    grid-template-rows: 1fr;
}

.content-inner {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 0;
    transition: padding-bottom 0.35s cubic-bezier(0.25, 1, 0.5, 1);
}

input:checked ~ .content .content-inner {
    padding-bottom: 30px;
}

.content h3 {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 700;
}

.content p,
.content dd {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}